@model IEnumerable<TheaterAcademie.Models.NewsMessage>

@{
	ViewData["Title"] = "Index";
}

@section banner {
	<section id="banner">
		<div class="container">
			<div id="slogan">
				<h2>Koninklijke theater academie</h2>
				<p>Waar kunst en beeld samen een geheel vormen</p>
			</div>
		</div>
	</section>
}

@section content {
	<section class="clearfix">
		@if (Model.Count() == 0)
		{
			<h2>Er zijn geen nieuwsberichten op dit moment. Kom binnen enkele dagen zeker terug!</h2>
		}
		else
		{
			<h2 class="structural">Laatste nieuwsberichten van de academie:</h2>
			<ul>
				@foreach (var item in Model)
				{
					var picture = item.Id <= 3 ? item.Id.ToString() + ".jpg" : "default/dummy.jpg";
					<li>
						<h3>@Html.DisplayFor(model => item.Title)</h3>
						<img src="/Content/news/@Html.DisplayFor(model => picture)" alt="newsmessage01" width="300" height="135" />
						<p>|Toegevoegd op: @Html.DisplayFor(model => item.Date)</p>
						<br />
						<p>
							@Html.DisplayFor(model => item.Message)
						</p>
						<a asp-action="Details" asp-route-id="@item.Id" title="Lees meer over dit bericht" class="readmore">Lees meer over Landelijk projectwerk</a>
					</li>
				}
			</ul>
		}
	</section>
	<a asp-action="Create" asp-controller="NewsMessages" class="">Maak een nieuwe post</a>
}




